 {% load static %}
 <script src="{% static 'app.js' %}"> </script>
 
 <button onclick="toggle_raspberrypi()">7624, Pécs, Szigeti út 27</button>
	<div id="raspberrypi">
		<ul>
		  {% for member in folders_raspberrypi %}
		      <form action="{% url 'download_folder' %}" method="post">
			  {% csrf_token %}
			  <button type="submit" name='submit' value='{{member.path_lower}}'>{{member.name}}</button>
		      </form>
		  {% empty %}
		    <li>No files</li>
		  {% endfor %}
		</ul>
	</div>

 <button onclick="toggle_raspberrypi4_bld4()">7624, Pécs, Ifjúság útja 6</button>
 	<div id="raspberrypi4_bld4">
		<ul>
		  {% for member in folders_raspberrypi4_bld4 %}
		      <form action="{% url 'download_folder' %}" method="post">
			  {% csrf_token %}
			  <button type="submit" name='submit' value='{{member.path_lower}}'>{{member.name}}</button>
		      </form>
		  {% empty %}
		    <li>No files</li>
		  {% endfor %}
		</ul>
	</div>
</div>	

